@charset "utf-8";
body, div, a, span, img, ol, ul, li, input, p, a, h4, h3, select { padding: 0; margin: 0; }
*{ margin:0; padding:0; -webkit-tap-highlight-color: transparent;}
body { font-family: "Microsoft Yahei"; color:#fff;}
body, html{ overflow:hidden; border:0; border:none; }
html{overflow:hidden;}
img { vertical-align: middle; border: 0 none; }
a{ cursor: pointer;color: #fff; text-decoration: none;}
a:hover,a:focus{  outline: none; }
i{ font-style: normal;}
ul, li { list-style: none; }
ol{ padding-left:25px;}
ol li{ list-style: decimal;}
em, i{ font-style:normal;}
.text-center { text-align:center; }
.text-indent{text-indent: 2em;}
.pull-left { float: left; }
.pull-right { float: right; }
.relative { position: relative; }
.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.Yahei{font-family: "Microsoft Yahei";}
.text-yellow{ color:#ba390c ;}
.text-yellow1{color:#ffea34;}
.text-green{ color:#22ac38;}
.text-blue{ color:#3366cc;}
.text-white1{ color:#ffc1b3;}
.text-red{ color:#fec1c1;}
.text-red1{ color:#660700;}
.text-orange { color:#b94c02;font-weight: bold;}
.text-white{ color:#fff;}
.text-underline{ text-decoration:underline;}
.font16{ font-size:0.16rem;}
.font18{ font-size:0.18rem;}
.font24{ font-size:0.24rem;} 

.font60{ font-size:0.60rem;}
.font48{ font-size:0.48rem;} 
.font36{ font-size:0.36rem;}
.font20{ font-size:0.20rem;}
/*public*/ 

.warp{font-size: .2rem;overflow: hidden; width:12.8rem; background-color:#d54134; position:relative; }
.left{ float:left; width:2.08rem; height:6.4rem; background:#1d1d1f;}

.navBox{  position: relative; z-index: 8;padding-top:0.1rem; }
.navBox a{ display:block; font-size:0.26rem; font-weight:500; line-height:0.8rem; color: #812104; width:2.08rem; height:0.86rem;background:url(../images/nav_bg.gif) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;margin-bottom: 4px; }
.navBox a span{ display: inline-block; width:0.27rem; height: 0.27rem;margin-left:0.08rem; margin-right: 0.02rem; vertical-align: middle;  }

.navBox a.nav_majiang{width:1.85rem; height:0.78rem;background:url(../images/nav_majiang.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.navBox a.nav_majiang.active{background:url(../images/nav_majiangOn.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a.nav_huanle{width:1.85rem; height:0.78rem;background:url(../images/nav_huanle.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.navBox a.nav_huanle.active{background:url(../images/nav_huanleOn.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a.nav_shui{width:1.85rem; height:0.78rem;background:url(../images/nav_shuiOn.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.navBox a.nav_shui.active{background:url(../images/nav_shui.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a .icon_09{background:url(../images/icon_09.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_01{background:url(../images/icon_01.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_02{background:url(../images/icon_02.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a .icon_03{background:url(../images/icon_03.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_niu{width:0.29rem; height:0.25rem;background:url(../images/icon_niu.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;margin-top: -0.01rem;}
.navBox a .nav_icon{background:url(../images/icon_zhua.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_06{background:url(../images/icon_06.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_bo{ width:0.31rem; height:0.26rem;background:url(../images/icon_bo.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_zhou{margin-top: -0.1rem; width:0.44rem; height:0.38rem;background:url(../images/icon_09.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a .icon_05{background:url(../images/icon_05.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a.active{background:url(../images/nav_bgOn.gif) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;margin-bottom: 4px;}
.rollCon{ overflow:hidden;}
.liveList li{ height:0.24rem;line-height:0.24rem;vertical-align:top;}
.liveList li span{ display:inline-block;vertical-align:top; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}


.navBox a.nav_majiang{width:2.08rem; height:0.86rem;background:url(../images/nav_majiang.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.navBox a.nav_majiang.active{background:url(../images/nav_majiangOn.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a.nav_huanle{width:2.08rem; height:0.86rem;background:url(../images/nav_huanle.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.navBox a.nav_huanle.active{background:url(../images/nav_huanleOn.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.navBox a.nav_huanle1{width:2.08rem; height:0.86rem;background:url(../images/nav_huanle1.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.navBox a.nav_huanle1.active{background:url(../images/nav_huanleOn1.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}


/* 挑战赢红包*/
.tiaozhan_01{ position: relative; width: 10.72rem; height: 5.54rem;  background:url(../images/tiaozhan/tiaozhan_01.jpg) no-repeat 0px 0px;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.tiaozhan_02{ position: relative; width: 10.72rem; height: 0.86rem;  background:url(../images/tiaozhan/tiaozhan_02.jpg) no-repeat 0px 0px;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.tiaozhanList{ width: 100%;padding-top:0.4rem;padding-left:0.35rem; }
.tiaozhanList li{ float: left; width: 3.23rem; height:5.03rem; float: left; margin-left:0.1rem; }
.tiaozhanList .juezhan{ width: 3.23rem; height:5.03rem; background:url(../images/tiaozhan/juezhan.png) no-repeat 0px 0px;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.tiaozhanList .juezhan_on{ display: none;  width: 3.23rem; height:5.03rem; background:url(../images/tiaozhan/juezhan_on.png) no-repeat 0px 0px;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.tiaozhanList .niuniu{ width: 3.23rem; height:5.03rem;  background:url(../images/tiaozhan/niuniu.png) no-repeat 0px 0px; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.tiaozhanList .niuniu_on{ display: none;  width: 3.23rem; height:5.03rem;background:url(../images/tiaozhan/niuniu_on.png) no-repeat 0px 0px;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.tiaozhanList .erren{width: 3.23rem; height:5.03rem; background:url(../images/tiaozhan/erren.png) no-repeat 0px 0px; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.tiaozhanList .erren_on{display: none; width: 3.23rem; height:5.03rem;  background:url(../images/tiaozhan/erren_on.png) no-repeat 0px 0px; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

/*种树 */
.trees_01{position: relative;width: 10.72rem; height: 1.12rem; background: url(../images/trees/tree_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees_02{position: relative;width: 10.72rem; height: 6.4rem; background: url(../images/trees/tree_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees_none, .trees1_style1, .trees1_style2, .trees1_style3, .trees2_style1, .trees2_style2, .trees2_style3, .trees3_style1, .trees3_style2, .trees3_style3{ display: none; width:5.65rem; height:5.79rem; position: relative;  }
.trees_none{background: url(../images/trees/tree_bg.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees1_style1{background: url(../images/trees/tree1_style1.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees1_style2{background: url(../images/trees/tree1_style2.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees1_style3{background: url(../images/trees/tree1_style3.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.trees2_style1{background: url(../images/trees/tree2_style1.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees2_style2{background: url(../images/trees/tree2_style2.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees2_style3{background: url(../images/trees/tree2_style3.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.trees3_style1{background: url(../images/trees/tree3_style1.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees3_style2{background: url(../images/trees/tree3_style2.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.trees3_style3{background: url(../images/trees/tree3_style3.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.trees{ width:5.65rem; height: 5.79rem; padding-top:0.61rem; }
.bar_bg{ position: absolute;left: 0.58rem; bottom:1rem; width: 3.39rem; padding-left:0.11rem;padding-right:0.11rem;height:0.36rem;padding-top:0.1rem; background: url(../images/trees/bar_bg.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.barOn{  height: 0.25rem; background-color: #ffeb19;-webkit-border-radius: 0.4rem;}
.bar_tips{ position: absolute; left: 0px; top: 0px; line-height: 0.46rem; width: 3.51rem; text-align: center; font-size: 0.24rem; color: #2b8d35; }
.btn_get{ display: block; position:absolute;bottom: 0.3rem;left: 1.64rem; width:1.72rem; height:0.65rem;background: url(../images/trees/btn_get.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.btn_getGray{ display: block; position:absolute; bottom: 0.3rem;left: 1.64rem; width:1.72rem; height:0.65rem;background: url(../images/trees/btn_getGray.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.btn_zhong{ display: block; position:absolute; bottom: 0.26rem;left: 1.36rem; width:2.25rem; height:0.83rem;background: url(../images/trees/btn_zhong.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.tree_tips{text-align: center; position: absolute; top: 0.18rem; left: 0.18rem;  width: 1.97rem; height: 1.19rem; line-height: 0.54rem; font-size: 0.24rem; color: #fff;background: url(../images/trees/shuidi.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.tree_tips span{ color: #ffeb10; }
.tree_numer{ width: 4.08rem; height: 0.22rem; position: absolute; left:5.68rem; top:2.49rem; }
.tree_numer li{ float: left;width:0.76rem; font-size:0.18rem;text-align: center; color:#ffe6d2;height:0.22rem;line-height: 0.22rem; margin-left:0.3rem; margin-right:0.3rem;}
.btn_chognzhi{ display: block;  position: absolute; width: 1.9rem; height: 0.8rem; right: 2.05rem; bottom:0.36rem; }
.trees_02 .btn_lishi{ display: block; position: absolute; width: 0.5rem; height: 1.51rem; right: 0.37rem; bottom:2.74rem;}
.trees_02 .btn_rule{ display: block; position: absolute;width: 0.90rem; height: 0.91rem; right:1.72rem; top:0.12rem;}
/*fuli */
.fuli_01{position: relative;width: 10.72rem; height: 1.83rem; background: url(../images/fuli/fuli_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.fuli_02{position: relative;width: 10.72rem; height: 2.7rem; background: url(../images/fuli/fuli_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.fuli_03{position: relative;width: 10.72rem; height: 1.87rem; background: url(../images/fuli/fuli_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
/*ddz */
.ddz_01{position: relative;width: 10.72rem; height: 1.4rem; background: url(../images/ddz/ddz_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ddz_02{position: relative;width: 10.72rem; height: 2.27rem; background: url(../images/ddz/ddz_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ddz_011{position: relative;width: 10.72rem; height: 1.4rem; background: url(../images/ddz/ddz_011.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ddz_021{position: relative;width: 10.72rem; height: 2.27rem; background: url(../images/ddz/ddz_021.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ddz_03{position: relative;width: 10.72rem; height: 2.73rem; background: url(../images/ddz/ddz_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
/*pengyou */
.pengy_01{position: relative;width: 10.72rem; height: 1.47rem; background: url(../images/pengyou/pengy_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.pengy_02{position: relative;width: 10.72rem; height: 2.37rem; background: url(../images/pengyou/pengy_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.pengy_03{position: relative;width: 10.72rem; height: 1.34rem; background: url(../images/pengyou/pengy_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.pengy_04{position: relative;width: 10.72rem; height: 1.22rem; background: url(../images/pengyou/pengy_04.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
/*ddz */
.majiang_01{position: relative;width: 10.72rem; height: 1.4rem; background: url(../images/majiang/majiang_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.majiang_02{position: relative;width: 10.72rem; height: 2.27rem; background: url(../images/majiang/majiang_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.majiang_03{position: relative;width: 10.72rem; height: 2.73rem; background: url(../images/majiang/majiang_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

/*huanle */

.chai_01{position: relative;width: 10.72rem; height: 1.99rem; background: url(../images/chai/chai_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.chai_02{position: relative;width: 10.72rem; height: 4.41rem; background: url(../images/chai/chai_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.chai_02 a{ position: absolute; display: block; left:4.06rem; bottom: 0.7rem; width: 2.3rem; height: 0.86rem; }
.chai_02 .sangong_rol{width:10.72rem; height: 0.44rem; position: absolute; left: 0px; bottom: 0px;  overflow: hidden; color: #ebeae9;}
.chai_02 .sangong_rol1{ height: 0.44rem;}
.chai_02 .sangong_rol1 li{float:left;  height: 0.44rem;  line-height: 0.44rem; color: #ebeae9; font-size: 0.2rem; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.chai_02 .sangong_rol1 li span{color: #e1b746;}

/*博饼 */


.bobing_01{position: relative;width: 10.72rem; height: 1.51rem; background: url(../images/bobing/bobing_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.bobing_02{position: relative;width: 10.72rem; height: 3.32rem; background: url(../images/bobing/bobing_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.bobing_03{position: relative;width: 10.72rem; height: 1.57rem; background: url(../images/bobing/bobing_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.baoBing_btn a{margin-top: 0.1rem; margin-left:1.5rem;font-size: 0.38rem;color: #fff;text-align: center;line-height: 0.95rem; display: inline-block;width: 2.71rem;height: 0.95rem;background: url(../images/bobing/bobing_btn.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.baoBing_btn a span{margin-left: 0.2rem;}
.bobing_03 .sangong_rol{width:10.72rem; z-index: 30; height: 0.36rem; position: absolute; left: 0px; bottom: 0px;  overflow: hidden; color: #ebeae9;}
.bobing_03 .sangong_rol1{ height: 0.36rem;}
.bobing_03 .sangong_rol1 li{float:left; height: 0.36rem; line-height: 0.36rem; color: #ebeae9; font-size: 0.18rem; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.bobing_03 .sangong_rol1 li span{color: #e1b746;}
.bobing_02 .shaizi{ display: none; position: absolute; width: 4.65rem; height: 2.75rem; top:0.54rem; left: 0.62rem;  background: url(../images/bobing/shaizi.gif) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.hongbao_01{position: relative;width: 10.72rem; height: 0.63rem; background: url(../images/hongbao/hongbao_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.hongbao_02{position: relative;width: 10.72rem; overflow: hidden; height: 4.08rem; background: url(../images/hongbao/hongbao_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.hongbao_03{position: relative;width: 10.72rem; height: 1.69rem; background: url(../images/hongbao/hongbao_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.hongbao_03 .btn_jilu{ display: block; position: absolute; left: 1.38rem; bottom: 0.55rem; width: 1.08rem; height: 0.82rem;  }
.hongbao_03 .number{ position: absolute; left: 3.9rem;  bottom:0.76rem; width: 0.42rem; height: 0.42rem; line-height: 0.42rem; color: #fff; font-size: 0.4rem; }
.hongbao_03 .btn_rule{ display: block; position: absolute; left: 4.48rem; bottom: 0.55rem; width: 1.08rem; height: 0.82rem;  }
.hongbao_03 .chouTips{ position: absolute; left: 0.25rem;  bottom:0.1rem; width: 6.24rem; height: 0.30rem; line-height: 0.30rem; color: #fff; font-size: 0.28rem; }
.hongbao_03 .game-go{ display: block; position: absolute; right: 1.98rem; bottom: 0.32rem; width: 2.2rem; height: 1.22rem;   }

.hongbao_01 .sangong_rol{width:10.72rem; height: 0.44rem; position: absolute; left: 0px; top: 0px;  overflow: hidden; color: #ebeae9;}
.hongbao_01 .sangong_rol1{ height: 0.44rem;}
.hongbao_01 .sangong_rol1 li{float:left;  height: 0.44rem;  line-height: 0.44rem; color: #ebeae9; font-size: 0.2rem; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.hongbao_01 .sangong_rol1 li span{color: #e1b746;}

.hongbaoMain{ width: 9.42rem; height:1.4rem; padding-top:0.42rem; overflow: hidden; position: absolute; left: 0.66rem; top:2rem; }

.hongbaoMain ul{ height: 1.4rem; }
.hongbaoMain li{float:left;  width: 1.5rem; height: 1.4rem; text-align: center;}
.hongbaoMain li img{ width: 1rem; height: 1.4rem; }

.right{ float:right; width:10.72rem; height:6.4rem; position: relative;}
.bobing_01 a{display: block;position: absolute;top: 0.25rem;width: 0.8rem;height: 0.7rem;}
.bobing_01 .btn_rule{right: 3.02rem;}
.bobing_01 .btn_myJiangpin{right: 1.4rem;}





.jilu_title{ width:5.24rem;padding-top:0.3rem; font-size: 0.26rem; height: 0.44rem; line-height: 0.44rem; color: #b45519; font-weight: bold;margin:0 auto; }
.jilu_title li{ width: 100%; height: 0.44rem; line-height: 0.44rem;}
.jilu_title li span{ display: inline-block; text-align: center; }
.jilu_title li span:nth-child(1){ width:50%; }
.jilu_title li span:nth-child(2){ width: 50%; }


.jilu_main{ height: 2.34rem;margin:0 auto; overflow-x:hidden;overflow-y:auto; width: 5.24rem;  font-size: 0.26rem;  color: #da3a3a;   }


.jilu_main li{ width: 100%;  border:1px solid #eee3d9;margin-top: 0.1rem;  height: 0.5rem; line-height: 0.5rem; border-radius:20px;-webkit-border-radius: 20px;   }
.jilu_main li span{height: 0.5rem; display: inline-block; font-size: 0.26rem; line-height: 0.5rem; text-align: center; }

.jilu_main li span:nth-child(1){ width:50%;}
.jilu_main li span:nth-child(2){ width: 50%;  color: #b47355}



.jilu_title1{ width:7.2rem; font-size: 0.26rem; height: 0.44rem; line-height: 0.44rem;  background-color: #fdedd3; color: #b45519; font-weight: bold;margin:0.3rem auto 0 auto; }
.jilu_title1 li{ width: 100%; height: 0.44rem; line-height: 0.44rem;}
.jilu_title1 li span{ display: inline-block; text-align: center; }
.jilu_title1 li span:nth-child(1){ width:1.7rem }
.jilu_title1 li span:nth-child(2){ width: 2.3rem }
.jilu_title1 li span:nth-child(3){ width: 3rem }


.jilu_main1{ height: 2.34rem;margin:0 auto; overflow-x:hidden;overflow-y:auto; width: 7.2rem;  font-size: 0.26rem;  color: #753309;   }


.jilu_main1 li{ width: 100%;  }
.jilu_main1 li span{height: 0.4rem; display: inline-block; font-size: 0.24rem; line-height: 0.4rem; text-align: center;vertical-align: middle; }

.jilu_main1 li span:nth-child(1){ width:1.7rem }
.jilu_main1 li:nth-child(even){ background: #fbf6e7; }
.jilu_main1 li span:nth-child(2){ width: 2.3rem }
.jilu_main1 li span:nth-child(3){ width: 3rem }

/*捕鱼排行*/
.right .rightMain{width:10.72rem;height: 6.4rem;}
.rightMain .buyu_01{width:10.72rem;height: 0.89rem;background: url(../images/buyu/buyu01.jpg)no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.rightMain .buyu_02{position: relative; overflow:hidden;width:10.72rem;height: 5.51rem;background: url(../images/buyu/buyu02.jpg)no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.buyu_02 .buyu_btn{position: absolute;display: block;width: 2.4rem;height: 0.7rem;left: 1.62rem;bottom: 0.3rem;cursor: pointer;}
.buyu_02 .b_name{float: left;font-size: 0.2rem;color: #fefefe;margin-left: 0.8rem;margin-top : 0.12rem;position: relative;}
.buyu_02 .b_name span{display: inline-block;width: 0.52rem;height: 0.25rem;background: url(../images/shayu.png)no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;position: absolute;right:-0.5rem;top: 0rem;}
.buyu_02 .b_timer{font-size: 0.2rem;color: #fefefe;margin-left: 3.2rem;margin-top: 0.12rem;}

.paihang{margin-left:0.5rem; width: 4.63rem;padding-top:0.05rem; }
.paihang_title{ width: 100%;  font-size: 0.2rem; height: 0.38rem; line-height: 0.38rem; color: #793604; font-weight: bold; }
.paihang_title li{ width: 100%; height: 0.38rem; line-height: 0.38rem;margin-top: 0.2rem;text-align: center;}
.paihang_title li span{ display: inline-block; height: 0.38rem;font-size: 0.2rem; text-align: center; }
.paihang_title li span:nth-child(1){ width: 0.65rem; }
.paihang_title li span:nth-child(2){ width: 1.4rem; }
.paihang_title li span:nth-child(3){ width: 0.9rem; }
.paihang_title li span:nth-child(4){ width: 1.3rem; }

.paihang_main{ height: 3.06rem; overflow-x:hidden;overflow-y:auto; width: 4.67rem; border:1px solid #a5a7ac; background: #a5a7ac; font-size: 0.18rem;  color: #793604; border-radius:8px;-webkit-border-radius: 8px;  }
.paihang_main li{ width:4.63rem; margin-left: 0.02rem; margin-bottom: 0.03rem;margin-top: 0.04rem;   height: 0.54rem; line-height: 0.54rem; background:url(../images/buyu/li_bg.png)no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.paihang_main li span{height: 0.52rem; display:block;float:left; font-size: 0.18rem; line-height: 0.52rem; text-align: center; overflow: hidden;}
.paihang_main li span:nth-child(1){ width: 0.8rem;}
.paihang_main li span:nth-child(1) img{ margin-top:0.05rem; width: 0.45rem; height: 0.39rem; }
.paihang_main li span:nth-child(2){ width: 1.4rem; }
.paihang_main li span:nth-child(3){ width: 0.9rem; }
.paihang_main li span:nth-child(4){ width: 1.3rem;color: #b94c02;position: relative;padding-left: 0.15rem; font-weight: 900;}
.paihang_main li span:nth-child(4) img{width: 0.21rem;height: 0.22rem; font-weight: bold; }

.my_paihang {padding-left: 0.1rem; width:4.57rem; height: 0.3rem; line-height: 0.3rem;border-radius:8px;-webkit-border-radius:8px; margin-top: 0.05rem; background: #d3dcd0; font-size: 0.16rem; color: #786539;  }
.my_paihang .score{width: 1rem;display: inline-block;}
.my_paihang img{vertical-align: middle;width: 0.25rem;height: 0.17rem;}


.fanbei_01{ width:6.08rem; height:6.4rem;float: left; position:relative; background:url(../images/chongzhi/chongzhi_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.fanliList{padding-left:1.16rem; padding-top:1.68rem; width: 4.14rem; height: 1.6rem; }
.fanliList li{ border-bottom:2px solid #fff; height: 0.3rem; line-height:0.3rem; color: #673028; font-size: 0.18rem;  }
.fanliList li span{ display: inline-block; line-height: 0.25rem; text-align: center;  height: 0.25rem; overflow: hidden;} 
.fanliList li .span1{ width: 0.56rem; }
.fanliList li .span2{ width: 1rem; }
.fanliList li .span3{ width: 1.34rem; }
.fanliList li .span4{ width: 1.2rem; }




.fanbei_03{ width:4.64rem;float: left; position: relative;  height:6.4rem; background:url(../images/chongzhi/chongzhi_02_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.fanbei_03 .buyList{ width: 70px; height: 360px; padding-top:52px; padding-left: 280px;}
.fanbei_03 .buyList a{ display: block; width: 70px; height: 78px; margin-bottom: 15px; }
.fanbei_03 .btn_fanliJilu{ display: block; position: absolute; right: 116px; top: 0px; width: 120px; height: 45px; }

.fanbei_02{ width:4.64rem;float: left; position: relative;  height:6.4rem; background:url(../images/chongzhi/chongzhi_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.fanbei_02 .buyList{ width: 70px; height: 360px; padding-top:52px; padding-left: 280px;}
.fanbei_02 .buyList a{ display: block; width: 70px; height: 78px; margin-bottom: 15px; }
.fanbei_01 .btn_rule{ display: block; position: absolute; left:2.34rem; bottom: 0.52rem; width: 1.72rem; height: 0.64rem; }
.fanbei_02 .btn_fanliJilu{ display: block; position: absolute; right: 116px; top: 0px; width: 120px; height: 45px; }
.fanbei_01 .sangong_rol{width:10.72rem; z-index: 30; height: 0.36rem; position: absolute; left: 0px; bottom: 0px;  overflow: hidden; color: #ebeae9;}
.fanbei_01 .sangong_rol1{ height: 0.36rem;}
.fanbei_01 .sangong_rol1 li{float:left; height: 0.36rem; line-height: 0.36rem; color: #ebeae9; font-size: 0.18rem; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.fanbei_01 .sangong_rol1 li span{color: #e1b746;}



.cz_01{ width:4.67rem; height:6.4rem;float: left; position:relative; background:url(../images/chongzhi1/chongzhi_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.cz_011{ width:4.67rem; height:6.4rem;float: left; position:relative; background:url(../images/chongzhi1/chongzhi_011.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.cz_02{ width:6.05rem;float: left; position: relative; font-size: 0.2rem; color: #fff;  height:6.4rem; background:url(../images/chongzhi1/chongzhi_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.cz_022{ width:6.05rem;float: left; position: relative; font-size: 0.2rem; color: #fff;  height:6.4rem; background:url(../images/chongzhi1/chongzhi_022.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.cz_01 .sangong_rol{width:10.72rem; z-index: 30; height: 0.36rem; position: absolute; left: 0px; bottom: 0px;  overflow: hidden; color: #ebeae9;}
.cz_01 .sangong_rol1{ height: 0.36rem;}
.cz_01 .sangong_rol1 li{float:left; height: 0.36rem; line-height: 0.36rem; color: #ebeae9; font-size: 0.18rem; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.cz_01 .sangong_rol1 li span{color: #e1b746;}


.cz_011 .sangong_rol{width:10.72rem; z-index: 30; height: 0.36rem; position: absolute; left: 0px; bottom: 0px;  overflow: hidden; color: #ebeae9;}
.cz_011 .sangong_rol1{ height: 0.36rem;}
.cz_011 .sangong_rol1 li{float:left; height: 0.36rem; line-height: 0.36rem; color: #ebeae9; font-size: 0.18rem; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.cz_011 .sangong_rol1 li span{color: #e1b746;}


.cz_02 .buyList{ width: 70px; height: 360px; padding-top:52px; padding-left: 280px;}
.cz_02 .buyList a{ display: block; width: 70px; height: 78px; margin-bottom: 15px; }
.cz_02 .btn_fanliJilu{ display: block; position: absolute; right: 116px; top: 0px; width: 120px; height: 45px; }
.cz_02 .btn_rule{ display: block; position: absolute; right: 0px; top: 1.05rem; width: 0.5rem; height: 1.42rem; }
.cz_02 .btn_fanliJilu{ display: block; position: absolute; right: 0px; top: 2.56rem; width: 0.5rem; height: 1.42rem;  }
.cz_02 .btn_big{ width: 1.9rem; height:1.45rem; position: absolute; right:3.44rem; bottom:1.5rem;}
.cz_02 .btn_small{ width: 1.9rem; height:1.45rem; position: absolute;right:0.94rem; bottom:1.5rem; }
.cz_02 .yaTips1{ position: absolute; right: 0.92rem; bottom: 1.12rem; width: 1.98rem; line-height:0.3rem; text-align: center; }
.cz_02 .yaTips2{ position: absolute; right:3.42rem; bottom: 1.12rem; width: 1.98rem; line-height:0.3rem; text-align: center; }
.cz_02 .tips{ position: absolute; width:6.05rem; right: 0px; bottom: 0.42rem;line-height:0.3rem; text-align: center; }
.cz_02 .tips span{ color: #faf608; }


.cz_022 .buyList{ width: 70px; height: 360px; padding-top:52px; padding-left: 280px;}
.cz_022 .buyList a{ display: block; width: 70px; height: 78px; margin-bottom: 15px; }
.cz_022 .btn_fanliJilu{ display: block; position: absolute; right: 116px; top: 0px; width: 120px; height: 45px; }
.cz_022 .btn_rule{ display: block; position: absolute; right: 0px; top: 1.05rem; width: 0.5rem; height: 1.42rem; }
.cz_022 .btn_fanliJilu{ display: block; position: absolute; right: 0px; top: 2.56rem; width: 0.5rem; height: 1.42rem;  }
.cz_022 .btn_big{ width: 1.9rem; height:1.45rem; position: absolute; right:3.44rem; bottom:1.5rem;}
.cz_022 .btn_small{ width: 1.9rem; height:1.45rem; position: absolute;right:0.94rem; bottom:1.5rem; }
.cz_022 .yaTips1{ position: absolute; right: 0.92rem; bottom: 1.12rem; width: 1.98rem; line-height:0.3rem; text-align: center; }
.cz_022 .yaTips2{ position: absolute; right:3.42rem; bottom: 1.12rem; width: 1.98rem; line-height:0.3rem; text-align: center; }
.cz_022 .tips{ position: absolute; width:6.05rem; right: 0px; bottom: 0.42rem;line-height:0.3rem; text-align: center; }
.cz_022 .tips span{ color: #faf608; }

/*弹框*/
.bg { display:none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 99; background: #000; opacity: 0.5; filter: alpha(opacity = 50);border-radius:8px; -webkit-border-radius:8px;  }
.diaBox{ display: none; width:8.06rem; height: 5.1rem; position:absolute; top:10px; left:50%; margin-left: -4.03rem; z-index:100;  background:url(../images/open/bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBox .bodyMain{ width: 6.18rem; margin:0.06rem; padding:0.35rem; background: #fefdf7; border-radius:8px; -webkit-border-radius:8px;   }
.diaBox .close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.78rem; height:0.78rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBox h3{ font-size: 0.36rem; padding-bottom: 0.1rem; margin-bottom: 0.2rem; color: #a14327; line-height: 0.5rem; text-align: center; font-weight: normal; border-bottom: 1px dashed #fea125; }
.diaBox .rule{ width: 7rem; margin:0 auto; padding-top:1.2rem;  font-size: 0.22rem; color: #b34602;line-height: 0.4rem; }

.diaBoxSmall{ display: none; width:7.48rem; height: 3.72rem; position:absolute; top:200px; left:50%; margin-left: -3.74rem; z-index:100;  background:url(../images/open/bg_small.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxSmall .close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.56rem; height:0.56rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxSmall .dia_header{ width:100%; height: 0.6rem; text-align: center;margin-top: -0.26rem; }
.diaBoxSmall .dia_header img{ width: 2.5rem; height: 0.6rem; }

.diaBoxSmall .dia_close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.56rem; height:0.56rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxSmall .rule{ width: 6.24rem; margin:0 auto; padding-top:0.6rem;  font-size: 0.24rem; color: #b34602;line-height: 0.4rem; }
.diaBoxSmall .tips{ width: 6.24rem;margin:0 auto;text-align: center; font-size: 0.3rem;padding-top:0.6rem; line-height: 0.4rem; color: #b34602; font-weight: bold; }
.btn_sure{display: inline-block; width: 2.56rem; height: 0.83rem;background:url(../images/open/btn_sure.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.btn_sure1{margin-right:0.2rem; display: inline-block; width: 2rem; height: 0.65rem;background:url(../images/open/btn_sure1.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.btnChognzhi{margin-left: 0.2rem;display: inline-block; width: 2.01rem; height: 0.65rem;background:url(../images/open/btn_chongzhi.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }

.diaBox_trees{ display: none; width:8.22rem; height: 6.12rem; position:absolute; top:10px; left:50%; margin-left: -4.11rem; z-index:100;  background:url(../images/open/tree_rule.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBox_trees .close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.78rem; height:0.78rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}


.diaBoxMid{ display: none; width:7.2rem; height: 4.5rem; position:absolute; top:200px; left:50%; margin-left: -3.6rem; z-index:100;  background:url(../images/open/bg_mid.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxMid .close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.56rem; height:0.56rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxMid .dia_header{ width:100%; height: 0.6rem; text-align: center;margin-top: -0.16rem; }
.diaBoxMid .dia_header img{ width: 1.9rem; height: 0.5rem; }
.diaBoxMid .rule{ width: 6.24rem; margin:0 auto; padding-top:0.6rem;  font-size: 0.24rem; color: #b34602;line-height: 0.4rem; }
.diaBoxMid .tips{ width: 6.24rem;margin:0 auto;text-align: center; font-size: 0.3rem;padding-top:0.6rem; line-height: 0.4rem; color: #b34602; font-weight: bold; }
.jd{ margin: 0.2rem auto;  width: 4.34rem; height: 0.54rem; line-height: 0.54rem; background: #f2ecd2; text-align: center; font-size: 0.26rem; color: #753309; box-shadow: inset -2px -2px 2px #dfd9c1 }
.icon_lingjiang{ display: inline-block; margin: 0 0.05rem;  width: 0.92rem; vertical-align: middle; height: 0.89rem; background:url(../images/open/icon_lingjiang.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dzcard{cursor:pointer; display:inline-block;  vertical-align: middle; width: 1.39rem; height:1.46rem;  margin-left: 0.4rem;background:url(../images/open/dzcard.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dzcard.active{  background:url(../images/open/dzcardOn.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.jdcard{cursor:pointer; display:inline-block; vertical-align: middle; width: 1.39rem; height:1.46rem; margin-right: 0.4rem; background:url(../images/open/jdcard.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.jdcard.active{background:url(../images/open/jdcardOn.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}


.diaBoxJl{ display: none; width:7.82rem; height: 4.73rem; position:absolute; top:20px; left:50%; margin-left: -3.91rem; z-index:100;  background:url(../images/open/awardBg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxJl .close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.56rem; height:0.56rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.diaBoxJl .dia_header{ width:100%; height: 0.6rem; text-align: center;margin-top: -0.16rem; }
.diaBoxMid .dia_header img{ width: 1.9rem; height: 0.5rem; }

.yaBox{ display: none; width:10.94rem; height: 5rem; position:absolute; top:20px; left:50%; margin-left: -5.47rem; z-index:100;  background:url(../images/open/bg_ya.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yaBox .close{display:block; position:absolute; top:-0.18rem; right:-0.18rem; width:0.56rem; height:0.56rem; background:url(../images/open/dia_close.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yaBox .dia_header{ width:100%; height: 0.6rem; text-align: center;margin-top: -0.26rem; }
.yaBox .dia_header img{ width: 2.5rem; height: 0.6rem; }

.yaSucee{ font-size:0.24rem; text-align:center; line-height:0.5rem ; line-height: 0.5rem; color:#b34602; margin-bottom:0.5rem; margin-top:0.5rem;}
.ya_tb{ width:9.8rem; margin:0.4rem auto 0 auto; line-height:0.44rem; border-collapse:collapse; }
.ya_tb th{ background-color:#fdedd2; color:#b34602; font-size:0.26rem; text-align:center; line-height:0.45rem; }
.ya_tb th:nth-child(1){width:15%;}
.ya_tb th:nth-child(2){width:35%;}
.ya_tb th:nth-child(3){width:25%;}
.ya_tb th:nth-child(4){width:25%;}
.ya_tb td{ text-align:center; line-height: 0.44rem;  color:#753309;  font-size: 0.26rem;}

.ya_tb tfoot td{ background-color:#fbf6e7;}
.ya_tb .tr td{ background: #fbf6e7; background: #fbf6e7;}


/*捕鱼弹框*/

#diaBoxSmall{display: block; width:8.06rem; height: 5.1rem; position:absolute; top:60px; left:50%; margin-left: -3.74rem; z-index:100;  background:url(../images/open/bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
#diaBoxSmall #rule{padding-top: 0.3rem;line-height: 0.38rem;font-size: 0.22rem;color: #b34602;}
.gift {}
.gift.active{  animation: first  1s linear 1s  1 ; -webkit-animation: first 1s linear 1s 1 ;}

.sprite { position: relative; z-index: 99; background:url(../images/hongbao/btn_zhua.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;
    width: 1.15rem;
    height: 4.3rem;
    margin-left: 4.86rem;
    top:-2.4rem
}
.sprite.active{  animation: myfirst  1.5s linear  1;-webkit-animation:myfirst  1.5s linear  1;}


/* 博饼弹框 */
.diaBoxBig {width: 9.45rem;height: 5.64rem;position: absolute;top: 0.3rem;left: 50%;z-index: 99;margin-left:-3.7rem;background: url(../images/open/activeRule.png) no-repeat 0 0;}
.diaBoxBig .dia_header {width: 100%;height: 0.52rem;text-align: center;margin-top:-0.2rem;}
.diaBoxBig .dia_header img{width: 1.9rem;height: 0.52rem;}

.diaBoxBig .diaMin {width:9rem;height: 5rem;margin-left: 0.45rem;overflow-x: hidden;overflow-y: auto;}
.diaBoxBig .diaMin img{width:8.88rem;height: auto;}
.dia_header .dia_close{ display: block;position: absolute;z-index: 10;top: -0.22rem;right: -0.15rem;width: 0.67rem;height: 0.67rem;background: url(../images/open/dia_close01.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
 

.box_jilu{position: absolute;top: 0.6rem;left: 50%;z-index: 99;margin-left: -2.83rem;width: 7.82rem;height: 4.83rem;display: none;background: url(../images/open/awardBg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.box_jilu .dia_header{width: 100%;height: 0.52rem;text-align: center;margin-top:-0.2rem;}
.box_jilu .dia_header img{width: 1.9rem;height: 0.52rem;}
.box_jilu .dia_body {padding: 0.3rem 0.15rem 0 0.15rem;border-top: none;color: #787878;font-size: 0.16rem;font-family: "Microsoft Yahei";}
.jaingpin_tb {width:6.82rem;margin: 0 auto;line-height: 0.5rem;border-collapse: collapse;font-size: 0.16rem;border-top-left-radius: 4px;}
.jaingpin_tb th {background-color: #fdedd2;color: #b34602;font-size: 0.24rem;text-align: center;line-height: 0.5rem;}
.jaingpin_tb td {text-align: center;font-size: 0.24rem;color: #753309;}
.jaingpin_tb .tr td {background: #fbf6e7;}
.jaingpin_tb .btn_lingquSmall {display: inline-block;width: 1.15rem;height: 0.46rem;text-align: center;background: url(../images/open/btn_lingquSmall.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.pages {padding-top: 0.1rem;text-align: center;color: #c13e2a;}
.pages a {color: #444; margin: 0 0.1rem; font-size: 0.24rem;}
.pages a.active {color: #c13e2a;margin-right: 0.5rem;}
.pages span{font-size: 0.24rem;color: #c4c4c3;}
.pages .page_num{margin-right: 0.5rem;}
.pages .page_num1{margin-right: 0.5rem;}
.contactBox{font-family: "Microsoft Yahei";position: absolute;top: 0.6rem;left: 50%;z-index: 99;margin-left: -2.83rem;width: 7.43rem;height:4.35rem;display: none;background: url(../images/open/contactBg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.contactBox .dia_header{width: 100%;height: 0.52rem;text-align: center;margin-top:-0.2rem;}
.contactBox .dia_header img{width: 1.9rem;height: 0.52rem;}
.contactBox .dia_body {border-top: none;font-family: "Microsoft Yahei";}
.contactBox .fbInfo {font-size: 0.27rem;text-align: center;line-height: 0.5rem;color: #b34602;margin-top: 0.2rem;}
.contactBox .inoutTxt {display: inline-block;vertical-align: middle;background: #fff;font-size: 0.27rem;color: #666666;border: 1px solid #dedcd2;width: 3.95rem;height:0.59rem;line-height: 0.59rem;padding: 0rem 0.05rem;}

.btn_submit{display: inline-block;margin-top: 0.15rem;width: 2.5rem;height: 0.83rem;background: url(../images/open/btn_sumbit.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.bobingBox{font-family: "Microsoft Yahei";position: absolute;top: 0.6rem;left: 50%;z-index: 99;margin-left: -2.83rem;width: 6.85rem;height:3.48rem;display: none;background: url(../images/open/bobing_small.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.bobingBox .dia_header{width: 100%;height: 0.52rem;text-align: center;margin-top:-0.2rem;}
.bobingBox .dia_header img{width: 1.9rem;height: 0.52rem;}
.bobingBox .shaizi_tips {width: 6.64rem;text-align: center;padding-top: 0.2rem;margin: 0 auto;height: 0.7rem;}
.shaizi_tips span {display: inline-block;width: 0.7rem;height: 0.7rem;margin: 0 0.1rem;}
.dian1 {background: url(../images/open/dian1.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dian2 {background: url(../images/open/dian2.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dian3 {background: url(../images/open/dian3.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dian4 {background: url(../images/open/dian4.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dian5 {background: url(../images/open/dian5.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.dian6 {background: url(../images/open/dian6.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.bobingBox .tips1 {width: 4.3rem;margin: 0.3rem auto 0 auto;text-align: center;font-size: 0.27rem;line-height: 0.5rem;color: #db2f01;font-weight: bold;}
.bobingBox .tips2 {width: 5.4rem;margin: 0 auto;text-align: center;background: #fbf6e1;margin: 0.2rem auto 0 auto;font-size: 0.27rem;line-height:0.4rem;color: #7a1a00;}
.notEnoughBox .tips{width: 5.4rem;margin: 0 auto;text-align: center;font-size: 0.27rem;padding-top: 0.4rem;line-height: 0.5rem;color: #b34602;font-weight: bold;}
/*.notEnoughBox*/

/*yuebing*/



.yuebing01{position: relative; width: 10.72rem; height: 1.46rem; background: url(../images/yuebing/hongbao01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yuebing02{position: relative; width: 10.72rem; height: 3.18rem; background: url(../images/yuebing/hongbao02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yuebing03{overflow: hidden; width: 10.72rem; height: 1.76rem;  background: url(../images/yuebing/hongbao03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yuebing03 .possess{font-size: 0.38rem;color: #f7e69e;font-weight: bold;text-align: center;margin-top: -0.77rem;margin-left: 2.5rem;}
.yuebing03 .btnQiangdui{margin-left: 0.9rem;margin-top: 0.45rem;display:inline-block;width: 1.64rem; height: 0.56rem;background: url(../images/yuebing/btn_qiangdui.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.yuebing03 .btnRecord{float: right;margin-right: 0.9rem;margin-top: -0.55rem;display:inline-block;width: 1.64rem; height: 0.56rem;background: url(../images/yuebing/btn_jilu.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.yuebing01 a{position: absolute;top: 0.95rem;right: 0.5rem; display: inline-block;width: 1.29rem;height: 0.44rem;background: url(../images/yuebing/btnActive.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yuebing02 a{display: inline-block;width: 1.22rem;height: 0.75rem;background: url(../images/yuebing/btn_convert.png) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.yuebing02 .btnConvert01{position: absolute;top: 0.3rem;left: 5.2rem;}
.yuebing02 .btnConvert02{position: absolute;top: 0.3rem;left: 8.7rem;}
.yuebing02 .btnConvert03{position: absolute;top: 1.3rem;left: 5.2rem;}
.yuebing02 .btnConvert04{position: absolute;top: 1.3rem;left: 8.7rem;}
.yuebing02 .btnConvert05{position: absolute;top: 2.2rem;left: 5.2rem;}
.yuebing02 .btnConvert06{position: absolute;top: 2.2rem;left: 8.7rem;}

/*红包弹框*/


.boxDuihuan{position: absolute;top: 0.8rem;left: 50%;z-index: 99;margin-left: -2.83rem;width: 7.82rem;height: 4.73rem;display: none;background: url(../images/open/duijiangBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.jaingpinTab{margin-top: 0.5rem;line-height: 0.43rem;}
.jaingpinTab th{line-height: 0.43rem;}
.diaHeader{width: 100%;height: 0.52rem;text-align: center;margin-top: -0.2rem;}
.diaHeader img{width: 2.8rem;height: 0.57rem;}
.tishiHeader img{width: 1.9rem;height: 0.57rem;}
.dh_body .notEnough{margin-top: 1rem;}
.dh_body #remind{font-size: 0.2rem; margin-top: 0.85rem; margin-left: 1.1rem;}
.ruleBox{width: 6.85rem;height: 3.48rem;display: none;background: url(../images/open/activeBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.activeHeader img{width: 1.99rem;height: 0.58rem;}
.activeRules p{font-size: 0.2rem;color: #7a1a00;padding: 0.2rem 0.8rem;line-height: 0.4rem;}
.dhSucessBox{width: 6.85rem;height: 3.48rem;display: none;background: url(../images/open/dhSucess.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.quanHeader img{width: 1.92rem;height: 0.53rem;}
.quan01{text-align: center;}
.dh_body img{width: 1.41rem;height:1.43rem;margin-top: 0.1rem;}
.dh_body .hundred{width: 1.64rem;height:1.43rem;}
.dh_body .get{font-size: 0.28rem;color: #db2f01;text-align: center;font-weight: 900;}
.dh_body .remind{font-size: 0.24rem;color: #7a1a00;text-align: center;margin-top: 0.28rem;}



/*mengniu*/
.index01{position: relative; width:3.03rem; height:6.4rem;float: left; position:relative; background:url(../images/mengniu/img_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.index02{position: relative; width:3.83rem; height:6.4rem;float: left; position:relative; background:url(../images/mengniu/img_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.index03{position: relative; width:3.86rem; height:6.4rem;float: left; position:relative; background:url(../images/mengniu/img_03.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.Receive a{display: inline-block;width: 1.9rem;height: 0.83rem;}
.index01 .btnReceive01{position: absolute;top: 5.1rem;left: 0.65rem;}
.index02 .btnReceive02{position: absolute;top: 5.1rem;left: 0.04rem;}
.index03 .btnReceive03{position: absolute;top: 1.9rem;left: 0.04rem;}
.index03 .btnReceive04{position: absolute;top: 3.3rem;left: 0.04rem;}
.index03 .btnReceive05{position: absolute;top: 4.7rem;left: 0.04rem;}
.index03 .btnRules{width: 1.5rem;position: absolute;top: 1rem;left: 2.04rem;transform:rotate(8deg);-webkit-transform:rotate(8deg);}
.index03 .btnRecord{width: 1.4rem;height: 0.6rem;position: absolute;top: 1.9rem;left: 2.2rem;}
/*mengniu弹框*/
.rulesBox{display: inline-block; width: 6.97rem;height: 3.27rem; left: 60%; background: url(../images/open/mnRules.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.rulesBox .dia_header{text-align: center;}
.rulesBox .dia_header img{margin-top: -0.2rem;width: 1.9rem;height: 0.52rem;}
.rulesBox .activeRules{font-size: 0.2rem;color: #b34602;padding: 0.2rem 0.6rem;line-height: 0.4rem;}
.boxLingqu {width: 7.82rem;height:4.73rem;  background: url(../images/open/awardBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.boxLingqu .diaHeader{text-align: center;}
.boxLingqu .diaHeader img{width: 2.13rem;height: 0.56rem;}
.jindouBox{width: 6.85rem;height:3.48rem;  background: url(../images/open/jindouBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.gongxi{font-size: 0.28rem;color: #db2f01;text-align: center;margin-top: 0.58rem;}

.lianxiBox{width: 9.39rem;height:5.25rem; left: 45%; background: url(../images/open/awardBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.lianxiBox .lianxiInfo{float: left;padding-left: 0.5rem;}
.lianxiBox .inputTxt{margin-left: 0.2rem;}
.lianxiBox .popInfoRight{float: left;margin-left: 0.3rem;}
.lianxiBox .popInfoRight img{width: 2.79rem;height: 3.34rem;}
.lianxiBox .popInfoRight p{font-size: 0.27rem;color: #b34602;text-align: center;}
.btnSubmit{margin-top: 0.05rem;}
.sorryBox{width: 6.85rem;height:3.48rem;  background: url(../images/open/sorryBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.sorryBox .sorry{margin-top: 1.2rem;}
.awardBox {width:9.06rem;height:4.5rem; left: 45%; background: url(../images/open/linquAward.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.awardBox #gognxi{display: inline-block;margin-top: 0.6rem;padding-left: 0.8rem; color: #6c2b0b;font-size: 0.3rem;}
.awardBox .btnSure{text-align: center;margin-top: 1.2rem;display: inline-block;margin-left: 1.6rem;}
.vivoPhone{font-size: 0.3rem;color: #e14e06;}
.lingqu{color: #e14e06;}

/*zhongshu*/
.diaBoxJl .jilu_main1 .checked{font-size: 0.18rem;color: #f03415;line-height: 0.2rem;padding: 0.1rem 0rem;}
.rulesBox {width: 9.45rem;height: 5.64rem;left:45%;top:0.2rem;display: none;background: url(../images/open/activeRule.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.rulesBox .activeHeader img{margin-top: 0rem;}
.rulesBox .activeRules img{    width: 6.76rem;height: 9.1rem;}
.rulesBox .activeRules{overflow-y: scroll;height: 4.76rem;}
.chooseBox{top: 1.25rem;}
.chooseBox #guoshi{border-bottom: 1px dashed #e5b89c;padding-bottom: 0.5rem;}
.jdcard{position: relative;}
.dzcard{position: relative;}
.jdcardTitle{position: absolute;text-align: center;top: 2.2rem;left: 1.70rem; width:1.3rem;font-size: 0.24rem;color: #753309;}
.dzcardTitle{position: absolute;top: 2.2rem;right: 1.69rem;width:1.3rem;font-size: 0.24rem;color: #753309;}
.jdcardBox{ display: none;width: 6.85rem;height: 3.48rem;position: absolute;top: 145px;left: 50%;margin-left: -3.6rem;z-index: 100;background: url(../images/open/gongxiBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.jdcardBox .jdImg p img{width: 1.21rem;height: 0.89rem;vertical-align: middle;margin-right: 0.2rem;}
.jdcardBox #tips{padding-top:0.2rem;}
.jdcardBox .fahuoDate{font-size: 0.18rem;color: #a14206;text-align: center;margin-top: 0.5rem;}
.dzcardBox .jdImg p img{width: 1.41rem;height: 1.43rem;}
.dzcardBox #tips{padding-top:0rem;}
.dzcardBox .fahuoDate .lingJiang{vertical-align: middle; margin:0rem 0.1rem; display: inline-block;width: 0.39rem;height: 0.46rem;background: url(../images/open/lingjiang2.png)no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.dzcardBox .fahuoDate{margin-top: 0.2rem;}
.planSucessBox .jdImg p img{width: 1.36rem;height: 1.55rem;}
.planSucessBox .fahuoDate{margin-top: 0.1rem;line-height: 0.25rem;}
.noSeedBox{top: 1rem; width: 7.14rem;height: 5.18rem; background: url(../images/open/noTreesBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.noSeedBox .seed {margin-top: 0.1rem;}
.noSeedBox .seed li{/* padding-bottom: 0.7rem; */ float: left; margin-left: 0.1rem;position: relative;width: 1.97rem;height: 2.28rem;cursor: pointer;}
.noSeedBox .seed li img{width: 1.97rem;height: 2.28rem;}
.noSeedBox .dia_header{ margin-top: -0.26rem;}
.noSeedBox .seed li span{position: absolute; display: inline-block;width: 0.91rem;height: 0.3rem;text-align: center;line-height: 0.3rem; color:#fcfbf8;background-color: #8a8a8a;border-radius: 25px;-webkit-border-radius:25px;}
.noSeedBox .seed li span.active{background-color: #af9965;}
.noSeedBox .seed li:nth-child(1) span{top: 2.45rem;left: 0.5rem;}
.noSeedBox .seed li:nth-child(2) span{top: 2.45rem;left: 0.5rem;}
.noSeedBox .seed li:nth-child(3) span{top: 2.45rem;left: 0.5rem;}

.chooseSeedBox .seed li img{width: 1.86rem;height: 2.18rem;}
.chooseSeedBox .seed li {width: 1.86rem;
    height: 2.18rem;
    margin-bottom: 0.2rem;}
.chooseSeedBox .seed li .common.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/common1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li .best.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/best1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li .best.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/best1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li .dingji.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/dingji1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li .jingzhi.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/jingzhi1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li .gaoji.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/gaoji1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li .xiyou.active{display: inline-block;width: 1.86rem;height: 2.18rem; background: url(../images/open/xiyou1.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.chooseSeedBox .seed li i{-moz-user-select: none;-khtml-user-select: none;user-select: none;position: absolute; font-size: 0.2rem; color:#666;font-weight: bold;top: 1.15rem;left: 0.75rem;}
.chooseSeedBox .seed li i.active{color: #f7bd20;}
.noSeedBox .fahuoDate{margin-top: 0.9rem;}
.chooseSeedBox{top: 0.1rem; width: 7.14rem;height: 5.8rem;background: url(../images/open/noChooseBg.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}


@keyframes first
{
0% {transform: rotate(0deg); }
25% {transform: rotate(10deg);}
50% {transform: rotate(0deg);}
75%{transform: rotate(-10deg);}
100%{transform: rotate(0deg);}
}


@-webkit-keyframes first
{
0% {transform: rotate(0deg); }
25% {transform: rotate(10deg);}
50% {transform: rotate(0deg);}
75%{transform: rotate(-10deg);}
100%{transform: rotate(0deg);}
}




@keyframes myfirst
{
0% {top:-2.4rem; }
100% {top:-1.8rem;}

}


@-webkit-keyframes myfirst
{
0% {top:-2.4rem; }
100% {top:-1.8rem;}

}

