@charset "utf-8";
body, div, a, span, img, ol, ul, li, input, p, a, h4, h3, select { padding: 0; margin: 0; }
*{ margin:0; padding:0}
body { font: 12px/1.5 "\5B8B\4F53", Arial, Helvetica, sans-serif; color:#fff; padding: 0; margin: 0;}
body, html{ overflow:hidden; border:0; border:none; }
img { vertical-align: top; border: 0 none; }
a{ cursor: pointer;color: #fff; text-decoration: none;}
a:hover,a:focus{  outline: none; }
i{ font-style: normal;}
ul, li { list-style: none; }
ol{ padding-left:25px;}
ol li{ list-style: decimal;}
em, i{ font-style:normal;}
.text-center { text-align:center; }
.text-indent{text-indent: 2em;}
.pull-left { float: left; }
.pull-right { float: right; }
.relative { position: relative; }
.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
.Yahei{font-family: "Microsoft Yahei";}
.text-yellow{color:#ffea34;}

/*public*/

.warp{overflow: hidden; width:900px; height:450px;   background-color:#d54134;   position:relative; }
.left{ float:left; width:154px; height:450px; background:#1f2226;}
.right{ position: relative; float:right; width:746px; height:450px;}

.navBox{  position: relative; z-index: 8; }
.navBox a{ display:block; margin-top:4px;  font-size: 18px; font-weight:600; line-height:61px; color: #812104; width:150px; height:61px;background:url(../images/nav_bg.gif) no-repeat 0 0; }

.navBox a span{ display: inline-block; width:22px; height: 22px;margin-left: 12px; margin-right: 2px; vertical-align: middle;  }
.navBox a .icon_05{background:url(../images/icon_05.png) no-repeat 0 0;}

.navBox a{font-size:16px;}
.navBox a.active, .navBox a:hover{background:url(../images/nav_bgOn.gif) no-repeat 0 0; color: #661e00;font-weight: bold; }

/* dog_01; */
.dog_01{position: relative; width:746px; height: 148px; background:url("../images/newYear/bg_01.jpg") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.sangong_rol{ position: absolute; left: 0; top: 0; height: 22px; width: 746px;  overflow: hidden; color: #ebeae9; }
.sangong_rol1{ height: 22px;}
.sangong_rol1 li{float:left;  height: 22px; line-height: 20px; color: #ebeae9; font-size: 14px; margin-left: 10px; opacity: 1.0;filter:alpha(opacity=100);}
.sangong_rol1 li span{color: #e1b746;}

/* dog_02 */
.dog_02{position: relative; width:746px; height: 221px; background:url("../images/newYear/bg_02.jpg") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.btn_yellow{position: absolute; height: 26px; top: 25px; font-size: 14px; color: #5e0101;  text-align: center; }
.btn_rule{right: 151px; width: 61px;background:url("../images/newYear/btn_rule.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.btn_myRedBag{right: 53px; width: 91px;background:url("../images/newYear/btn_myRedBag.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.money_total{position: absolute; top: 20px; left: 50%; width: 226px; height: 30px; margin-left: -115px; font-size: 28px; font-weight: normal; line-height: 28px; text-align: center; color: #fcd473;}

.redBag_container{position: absolute; width: 634px; height: 177px; left: 48px; bottom: 0; font-size: 0;}
.redBag_container li{position: absolute; bottom:0; width: 148px; height: 168px; overflow: hidden; background:url("../images/newYear/redBag_01.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.redBag_container .opened{height: 177px; background:url("../images/newYear/redBag_02.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.redBag_container .redBag_01{left: 0;}
.redBag_container .redBag_02{left: 162px;}
.redBag_container .redBag_03{left: 324px;}
.redBag_container .redBag_04{right: 0;}

.redBag_container li .money_max{font-size: 56px; line-height: 60px; color: #FEF199; text-align: center; font-weight: bold;}
.redBag_container li .txt_max{display: inline-block; position: relative; bottom: 4px; width: 18px; font-size: 16px; line-height: 18px; font-weight: normal;}
.redBag_container li .dollar{position: relative; bottom: 4px; font-size: 20px;}
.redBag_container .opened .money_max{display:none;}

.redBag_container li .redBag_txt{position: absolute; top:54px; left: 0; width: 100%; font-size: 16px; color: #8D0B09; text-align: center;}
.redBag_container .opened .redBag_txt{top: 78px;}

.redBag_container li .icon_dog{display: inline-block; width: 16px; height: 18px; vertical-align: middle; margin-top: -2px; margin-right: 4px; background:url("../images/newYear/icon_dog.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.redBag_container li .btn_openRedBag{display: block; position: absolute; width: 70px; height: 70px; top: 80px; left: 50%; margin-left: -35px; border-radius: 50%;}
.redBag_container .opened .btn_openRedBag{display:none;}

.redBag_container li .user_award{display: none;}
.redBag_container .opened .user_award{display: block; position: absolute; top: 96px; left:0; width: 100%; font-size: 36px; font-weight: bold; color:#FEEF1C; text-align: center; }

/* dig_03 */
.dog_03{position: relative; width:746px; height: 81px; background:url("../images/newYear/bg_03.jpg") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.btn_restart{position: absolute; width: 103px; height: 33px; top: 23px; right: 84px; background:url("../images/newYear/btn_restart.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%; }

.progress_bar{position: absolute; top: 0; left: 52px; width: 644px; height: 25px; background:url("../images/newYear/progress_bar.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.progress_bar .yellow_bar{position: absolute; height: 7px; width: 610px; top: 8px; left: 7px;background: #FECD23; }
.progress_bar .yellow_bar>span{display: none; position: absolute; width: 22px; height: 22px; top: 50%; margin-top: -11px; z-index: 2; background:url("../images/newYear/barDot.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.progress_bar .yellow_bar>span i{position: absolute; width: 12px; height: 14px; top: 50%; left: 50%; margin-left: -6px; margin-top: -7px; background:url("../images/newYear/icon_redBag.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.progress_bar .yellow_bar>span.active{display:block;}
.progress_bar .yellow_bar .yellow_dot1{left:134px;}
.progress_bar .yellow_bar .yellow_dot2{left:299px;}
.progress_bar .yellow_bar .yellow_dot3{left:465px;}
.progress_bar .yellow_bar .yellow_dot4{left:614px;}
.progress_bar .yellow_bar .before{position: absolute; display:block; top:0; left:-5px; width: 5px; height: 7px; background:url("../images/newYear/left_radius.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.progress_bar .yellow_bar .after{position: absolute; display: block; top:0; right:-5px; width: 5px; height: 7px; background:url("../images/newYear/right_radius.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.point_total{position: absolute; top: 24px; left: 66px; font-size: 18px; text-align: left;}
.point_total .txt_total{font-size: 18px; line-height: 20px; margin-right: 8px;vertical-align: middle;}
.point_total .text-yellow{font-size: 18px; line-height: 20px; vertical-align: middle;}
.point_total .goal{display: inline-block; line-height: 20px; font-size: 16px; vertical-align: middle;}

/*弹框*/
.bg { display:none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 99; background: #000; opacity: 0.5; filter: alpha(opacity = 50);border-radius:8px; -webkit-border-radius:8px;  }

.diaBox{display:none; font-family: "Microsoft Yahei"; position:absolute; top: 0; right: 0px; z-index: 99; }
.diaBox .close{ position:absolute; z-index: 10; top:-18px; right:-18px; width:58px; height:58px; background:url(../images/newYear/dia_close.png) no-repeat 0 0;}
.dia_header{ width:100%; height: 36px; text-align: center; margin-top: -8px; }
.dia_header img {height: 36px; width: auto;}
.dia_body{padding:15px 15px 0 15px; border-top:none; color:#787878; font-size:14px; font-family: "Microsoft Yahei";}

.diaBox .tishi{text-align: center; font-size: 20px; color: #B24505; font-weight: bold; }
.btnAgain{text-align: center;font-size: 14px; color: #a14206; line-height: 34px; height: 34px;}
.btnAgain .btn_sure{display: inline-block; width: 179px;height: 59px; margin-top: 5px; background: url(../images/newYear/btn_sure.png)no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}

/* 我的红包 */
.box_history{position: absolute; top: 30px; left: 50%; margin-left: -230px; width: 619px;height: 377px;background: url(../images/newYear/history_bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.box_history .dia_body {position: relative; height: 295px; padding-top: 30px;}

.jaingpin_tb{width:537px;margin:0 auto;  line-height:36px; border-collapse:collapse;  font-size:16px; border-top-left-radius:4px;}
.jaingpin_tb th{ background-color:#fdedd2; color:#b34602; font-size:18px; text-align:center; line-height:32px; }
.jaingpin_tb td{ text-align:center;  font-size: 20px;  color:#804624; background: #FCFAF4;}
.jaingpin_tb .tr td {background: #fbf6e7;}
.jaingpin_tb tr .red {color:#F0330F;}

.pages{position: absolute; bottom: 26px; width: 590px; text-align: center; color:#c13e2a;}
.pages a{ color:#444; margin:0 10px; font-size: 20px;}
.pages a:hover{ color:#000;}
.pages a.active{color:#c13e2a;}
.pages span{font-size: 20px;color:#c13e2a;margin:0 16px;}
.pages .num{margin:0 16px;}

/* 规则 */
.box_rule{position: absolute; width: 619px; height: 387px; top: 35px; left: 50%; margin-left: -230px; background: url(../images/newYear/rule_bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.box_rule .dia_header img{width: 146px;height: auto; margin-top: -5px;}
.box_rule .dia_body {position: relative; padding: 10px 10px 0 10px;}
.box_rule .rule_detail{margin:0 auto;padding: 0 20px;font-size: 18px; color: #7F3205; line-height: 32px; }

/* 抱歉 */
.commonBox {width: 434px; height: 278px; left: 50%; top: 81px; margin-left: -143px;  background:url("../images/newYear/commonBox_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.commonBox .dia_body{padding-top: 25px;}
.commonBox .prompt_txt{height:100px; line-height: 40px;}

/* 恭喜对话框 */
.gongxi{width: 561px; height: 520px; position:absolute; top: -60px; left:50%; margin-left: -213px; background:url(../images/newYear/gongxi_bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.gongxi .diaBox_inner{position: absolute; width: 384px; height: 320px; left:76px; top: 122px; }
.gongxi .dia_header img{width: 112px; height:auto; margin-top: -6px;}
.gongxi .dia_body{text-align: center; }

.gongxi .tishi{position: absolute; top:46px; left:0; width: 100%; text-align: center;}
.gongxi .tishi .red{color: #f43806;}
.gongxi .icon_redBagOn{width: 195px; height: 195px; margin: -13px auto 0; background:url("../images/newYear/icon_redBagOn.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi .btnAgain p{font-size: 16px; height: 25px; line-height: 16px;}
.btnAgain .btn_sureYellow{display: inline-block; width: 179px; height: 58px; background: url(../images/newYear/btn_sureYellow.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}

/* 红包雨 */
#petalbox {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}
#petalbox > div {position: absolute; }
#petalbox > div > img {position: absolute; }

