@charset "utf-8";
body, div, a, span, img, ol, ul, li, input, p, a, h4, h3, select { padding: 0; margin: 0; }
*{ margin:0; padding:0}
body { font: 12px/1.5 "Microsoft Yahei", Arial, Helvetica, sans-serif, "\5B8B\4F53"; color:#fff; padding: 0; margin: 0;}
body, html{ overflow:hidden; border:0; border:none; }
img { vertical-align: top; border: 0 none; }
a{ cursor: pointer;color: #fff; text-decoration: none;}
a:hover,a:focus{  outline: none; }
i{ font-style: normal;}
ul, li { list-style: none; }
ol{ padding-left:25px;}
ol li{ list-style: decimal;}
em, i{ font-style:normal;}
.text-center { text-align:center; }
.text-indent{text-indent: 2em;}
.pull-left { float: left; }
.pull-right { float: right; }
.relative { position: relative; }
.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
.Yahei{font-family: "Microsoft Yahei";}
.text-yellow{ color:#ba390c ;}
.text-yellow1{color:#ffea34;}
.text-green{ color:#518416;}
.text-blue{ color:#3366cc;}
.text-white1{ color:#ffc1b3;}
.text-red{ color:red;}
.text-red1{ color:#660700;}
.text-orange { color:#ffaa3b;}
.text-orange1 { color:#b94c02; font-weight: bold;}
.text-white{ color:#fff;}
.text-underline{ text-decoration:underline;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font24{ font-size:24px;}
.font60{ font-size:60px;}
.font48{ font-size:48px;}
.font36{ font-size:36px;}
.font20{ font-size:20px;}

/*public*/

.warp{overflow: hidden; width:900px; height:450px;   background-color:#d54134;   position:relative; }
.left{ float:left; width:154px; height:450px; background:#1f2226;}
.right{ float:right; width:746px; height:450px; position: relative; }

.navBox{  position: relative; z-index: 8; }
.navBox a{ display:block; margin-top:4px;  font-size: 18px; font-weight:600; line-height:61px; color: #812104; width:150px; height:61px;background:url(../images/nav_bg.gif) no-repeat 0 0; }

.navBox a span{ display: inline-block; width:22px; height: 22px;margin-left: 12px; margin-right: 2px; vertical-align: middle;  }
.navBox a .icon_hammer{background:url(../images/icon_hammer.png) no-repeat 50% 50%;background-size: 85% 85%; -webkit-background-size: 85% 85%;}

.navBox a{font-size:16px;}
.navBox a.active, .navBox a:hover{background:url(../images/nav_bgOn.gif) no-repeat 0 0; color: #661e00;font-weight: bold; }

/* ice_01 */
.ice_01{ width: 746px; height: 98px; position:relative; background:url(../images/icebreaking/iceBg_01.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

/* ice_02 */
.ice_02{ width: 746px; height: 352px; position:relative; background:url(../images/icebreaking/iceBg_02.jpg) no-repeat;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.btn_myPrize{width: 33px; height: 93px; position: absolute; top: 14px; left: 11px;}

/* 锤子 */
.ice_container{width:320px; height: 298px; position: absolute; top:0; left: 53px;}
.ice_container .hammer{position: absolute; top: 104px; left: 50%; z-index: 2; margin-left:-56px;}
.ice_container .hammer .btn_hammer{display: block; width: 112px; height:71px; background:url("../images/icebreaking/ice_breaking.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ice_container .hammer p{color:#93440B; text-align: center; font-size: 16px; line-height: 18px;}

/* 冰块 */
.ice_container ul{position: absolute; width: 100%; height: 100%; top:0; left: 0; z-index: 1;}
.ice_container ul li{cursor: pointer; position: absolute; width:93px; height:96px; background:url("../images/icebreaking/ice_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ice_container ul li>.item_inner{position: absolute; width:100%; height: 100%; top:0; left:0;}
.ice_container ul li>i{display: none; z-index:1; position: absolute; width:63px; height: 41px; top:-10px; right:-20px; background:url("../images/icebreaking/smash.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ice_container ul li>.smash{display:block;}
.ice_container ul .item1{top:0; left:0;}
.ice_container ul .item2{top:0; left:113px;}
.ice_container ul .item3{top:0; left:227px;}
.ice_container ul .item4{top:101px; left:227px;}
.ice_container ul .item5{top:202px; left:227px;}
.ice_container ul .item6{top:202px; left:113px;}
.ice_container ul .item7{top:202px; left:0;}
.ice_container ul .item8{top:101px; left:0;}

.ice_container ul li img{position: absolute; left:50%;}
.ice_container ul .coin1 img{width:61px; height:50px; margin-left: -30px; top:12px;}
.ice_container ul .coin2 img{width:61px; height:50px; margin-left: -30px; top:12px;}
.ice_container ul .iPhone img{width:53px; height:63px; margin-left: -26px; top:3px;}
.ice_container ul .bag1 img{width:67px; height:53px; margin-left: -33px; top: 8px;}
.ice_container ul .bag2 img{width:67px; height:53px; margin-left: -33px; top: 8px;}
.ice_container ul .card img{width:75px; height:52px; margin-left: -37px; top: 14px;}
.ice_container ul .iPad img{width:54px; height:63px; margin-left: -27px; top:3px;}
.ice_container ul .hongbao img{width:61px; height:56px; margin-left:-30px; top:7px;}

.ice_container ul .txt{position: absolute; top: 56px; left: 0; width: 100%; text-align: center; color: #1C487A; font-size: 14px; line-height: 16px; font-weight: bold; }
.ice_container ul .iPad .txt{top:61px;}
.ice_container ul .iPhone .txt{top:61px;}
.ice_container ul .card .txt{top:68px;}

/* 规则说明 */
.ice_02 .rule{overflow: hidden; width: 313px; height: 228px; position: absolute; top:-10px; right: 18px; background:url("../images/icebreaking/rule_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ice_02 .rule h3{margin-top:6px; line-height: 32px; color:#1C73A1; font-size: 20px; font-weight: normal;}
.ice_02 .rule h3 img{width: 16px; height: 19px; margin: -3px 10px 0 22px ; vertical-align: middle;}
.ice_02 .rule .rule_txt{height:180px; overflow-y:auto; overflow-x: hidden;}
.ice_02 .rule p{color:#1C73A1; letter-spacing: 1px; font-size: 14px; padding: 8px 22px 0; line-height:20px;}

/* 滚动播报 */
.ice_02 .broadcast{overflow: hidden;position: absolute; top:220px; right: 12px;  width: 302px; height: 94px; padding: 10px; background:url("../images/icebreaking/broadcast_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.ice_02 .broadcast .rollCon1{overflow: hidden; width: 100%; height: 84px; margin-top: 4px; text-align: center; color:#E6F5FC; font-size:14px; line-height:28px;}
.ice_02 .broadcast .rollCon1 li{white-space:nowrap; overflow: hidden;}

/*弹框*/
.bg { display:none; position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 97; background: #000; opacity: 0.5; filter: alpha(opacity = 50); }
.diaBox{display:none; font-family: "Microsoft Yahei"; position:absolute; top: 0; right: 0px; z-index: 99; }
.diaBox .dia_header{ width:100%; height: 36px; text-align: center; margin-top: -8px; }
.diaBox .dia_close{ position:absolute; z-index: 10; top:-18px; right:-18px; width:58px; height:58px; background:url(../images/icebreaking/dia_close.png) no-repeat 0 0;}
.diaBox .dia_body{padding:15px 15px 0 15px; border-top:none; color:#787878; font-size:14px; font-family: "Microsoft Yahei";}
.dia_header img {height: 36px; width: auto;}

/* 我的奖品 */
.box_jilu{right: 85px; top:45px;width: 579px; height: 357px; background:url(../images/icebreaking/ruleBox.png) no-repeat 0 0;}
.box_jilu .dia_body {position: relative; height: 295px;}
.box_jilu .dia_body .rule{margin:0 auto;padding:0 15px 0 20px; font-size: 16px; color: #7F3205; line-height: 30px; }

.jaingpin_tb{width:486px;margin:0 auto;  line-height:33px; border-collapse:collapse;  font-size:16px;border-top-left-radius:4px;}
.jaingpin_tb th{ background-color:#fdedd2; color:#b34602; font-size:18px; text-align:center; line-height:32px; }
.jaingpin_tb td{ text-align:center;  font-size: 16px;  color:#753309; background: #FCFAF4;}
.jaingpin_tb .tr td {background: #fbf6e7;}
.jaingpin_tb tr .red {color:#F0330F;}
.jaingpin_tb .btn_lingquSmall{ display: inline-block; width: 82px; height: 33px; text-align: center; background:url(../images/icebreaking/btn_lingquSmall.png) no-repeat 0 0;  }

.pages{position: absolute; bottom: 42px; width: 548px; text-align: center; color:#c13e2a;}
.pages a{ color:#444; margin:0 10px; font-size: 20px;}
.pages a:hover{ color:#000;}
.pages a.active{color:#c13e2a;}
.pages span{font-size: 20px;color:#c13e2a;margin:0 16px;}
.pages .num{margin:0 16px;}

/* 抱歉 */
.diaBox .tishi{height: 75px; text-align: center; font-size: 20px; color: #803303; font-weight: bold; }
.diaBox .tishi .rule{font-size: 20px; font-weight: bold; }
.btnAgain{text-align: center;}
.btnAgain p{text-align: center;font-size: 16px; color: #a14206; line-height: 40px;}
.btnAgain a{display: inline-block;width: 182px;height: 59px;background: url(../images/icebreaking/btn_know.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.tishi span{ color: #f43806;}

.sorryBox {right:150px; top: 90px; width: 461px; height:275px; background:url("../images/icebreaking/sorry_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.sorryBox .dia_body{padding-top: 45px;}
.sorryBox .btnAgain a{margin-left: -13px;}

/* 恭喜对话框 */
.gongxi{width: 569px; height: 515px; position:absolute; top: -60px; right: 70px;  background:url(../images/icebreaking/gongxi_bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%; }
.diaBox_inner{ position: absolute; width: 386px; height: 330px; left:80px; top: 127px;}
.diaBox .dia_closeBig{ position:absolute; z-index: 10; top:-20px; right:-20px; width:63px; height:63px; background:url(../images/icebreaking/dia_closeBig.png) no-repeat 0 0;}
.gongxi .dia_body{ padding-top:24px; text-align: center; }
.gongxi .tishi{height: auto; }
.gongxi .btnAgain p{ line-height: 20px;}

.gongxi #card_gift{position: relative; width:97px; height: 67px; margin: 0 auto; padding-top: 63px;background:url("../images/icebreaking/card_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi #card_gift .number{color: #D44A35; font-size: 16px; font-weight: bold;}
.gongxi #card_gift .icon_bg{position: absolute; left: 50%; top: 14px; }
.gongxi #card_gift.card_bell .icon_bg{margin-left: -30px; width: 59px; height: 56px; background:url("../images/icebreaking/icon_bellBig.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi #card_gift.card_hat .icon_bg{margin-left: -28px; top: 15px; width: 66px; height: 53px; position: absolute;background:url("../images/icebreaking/icon_hat.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi #card_gift.card_snow .icon_bg{margin-left: -25px; top: 18px; width: 49px; height: 42px; position: absolute;background:url("../images/icebreaking/icon_snow.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi #card_gift.card_snowman .icon_bg{margin-left: -24px;top: 16px; width: 48px; height: 55px; position: absolute;background:url("../images/icebreaking/icon_snowman.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi #card_gift.card_socks .icon_bg{margin-left: -28px; top: 14px; width: 56px; height: 57px; position: absolute;background:url("../images/icebreaking/icon_socks.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.gongxi #card_gift .gift_name{margin-top: 3px; text-align: center; font-weight: bold; color: #fff; font-size: 16px;text-shadow:1px 1px 1px #A24C05, 2px 2px 2px #A24C05, -1px -1px 2px #A24C05;}

.gongxi .btnAgain{padding-top: 11px;}
.gongxi .btnAgain a{display: inline-block; width: 181px; height: 58px; margin-top: 8px;}
.btnAgain a.btn_liangjiang{background: url(../images/icebreaking/btn_lingjiang.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}

/* 物品对话框 */
.diaBox_inner .dia_close{ position:absolute; z-index: 10; top:-20px; right:-20px; width:58px; height:58px; background:url(../images/icebreaking/dia_close.png) no-repeat 0 0;}
.prizeBox{width:494px; height: 476px; top: -30px;left: 50%; margin-left: -170px; background:url("../images/icebreaking/prize_bg.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.prizeBox .diaBox_inner{width: 388px; height: 243px; left: 54px; top:123px;}
.prizeBox .dia_header{}
.prizeBox .dia_header img{width: 106px; height:37px; margin-top: -10px;}
.prizeBox .dia_body{text-align: center; padding-top: 20px;}
.prizeBox .dia_body .btnAgain a{width:171px; height:56px; background:url("../images/icebreaking/btn_sure.png") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.prizeBox .btnAgain p{ line-height: 36px;}

.prizeBox .tishi{height: 80px; font-size: 22px; line-height: 28px;}
.prizeBox .tishi .rule{font-size: 20px; font-weight: bold; }
