@charset "utf-8";
div,
a,
span,
img,
ol,
ul,
li,
input,
p,
a,
h4,
h3,
select {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Microsoft Yahei";
    color: #fff;
}

img {
    vertical-align: middle;
    border: 0 none;
}

a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
}

i {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

em,
i {
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.Yahei {
    font-family: "Microsoft Yahei";
}




/*public*/


/*大横幅*/

body {font-size: 100%; }
.warp {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    color: #686868;
    width: 1920px;
    margin: 0 auto;
}

.container {
    width: 1920px;
}

.container .content {
    float: left;
    width: 1000px;
    ;
}

.container .left {
    float: left;
    width: 460px;
}

.container .right {
    float: left;
    width: 460px;
}

.container h3 {
    margin-left: -40px;
    color: #4B9740;
    font-size: 38px;
    text-align: center;
}

.container h3 i {
    display: inline-block;
    margin-right: 8px;
    margin-top: -2px;
    vertical-align: middle;
}




/*大横幅*/

.banner {}

.banner .left {
    height: 650px;
    background: url(../images/banner_bg01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.banner .content {
    position: relative;
    height: 650px;
    background: url(../images/banner_bg02.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.banner .right {
    height: 650px;
    background: url(../images/banner_bg03.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.banner .content .date {
    position: absolute;
    top: 513px;
    left: 50%;
    margin-left: -210px;
    color: #B9922F;
    width: 442px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}




/*二维码*/

.banner .code {
    width: 115px;
    position: absolute;
    top: 505px;
    left: 1344px;
    z-index: 99;
}

.banner .code img {
    width: 115px;
    height: 115px;
    vertical-align: middle;
}

.banner .code span {
    display: block;
    margin-top: 2px;
    color: #FBFBFB;
    font-size: 18px;
    text-align: center;
}




/* 导航 */

.nav {
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 570px;
    z-index: 99;
}

#nav.active {
    position: fixed;
    top: 0;
}

.nav .content {
    padding-left: 462px;
    text-align: left;
}

#nav.active .content {
    padding: 0;
    text-align: center;
}

.nav .content a {
    display: inline-block;
    height: 80px;
    width: 208px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background: url(../images/btn_bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.nav .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: 0.5;
    filter: alpha(opacity=50);
}




/*大赛介绍*/

.introduce {}

.introduce .left {
    height: 325px;
    background: url(../images/introduce_bg01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.introduce .content {
    padding-top: 46px;
    height: 279px;
    background: url(../images/introduce_bg02.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.introduce .right {
    height: 325px;
    background: url(../images/introduce_bg03.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.introduce h3 {
    margin-top: -10px;
    margin-bottom: 28px;
}

.introduce h3 i {
    width: 35px;
    height: 39px;
    background: url(../images/icon_introduce.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.introduce p {
    font-size: 18px;
    line-height: 40px;
    text-indent: 2em;
}

.schedule {}

.schedule .left {
    height: 1340px;
    background: url(../images/schedule_bg01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.schedule .right {
    height: 1340px;
    background: url(../images/schedule_bg03.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.schedule .content {
    height: 1340px;
    position: relative;
    z-index: -1;
}

.schedule .content h3 {
    z-index: 1;
    position: absolute;
    left: 424px;
    top: -8px;
}

.schedule .content h3 i {
    width: 42px;
    height: 42px;
    background: url(../images/icon_cup.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.schedule .cup_box {
    position: relative;
    width: 100%;
    padding-top: 70px;
    height: 500px;
    background: url(../images/cup_bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.schedule .cup_box h4 {
    color: #686868;
    font-size: 44px;
    line-height: 66px;
    text-align: center;
    padding-right: 30px;
}

.schedule .cup_box p {
    text-align: center;
    margin-top: 5px;
    padding-right: 30px;
}

.schedule .cup_box .cup_txt {
    position: absolute;
    top: 405px;
    left: 2px;
    width: 100%;
    text-align: center;
}

.schedule .cup_box .cup_txt .cup1 {
    display: inline-block;
    width: 154px;
    height: 57px;
    line-height: 57px;
    vertical-align: bottom;
    margin-bottom: 5px;
    color: #576923;
    font-size: 24px;
    font-weight: bold;
}

.schedule .cup_box .cup_txt .cup2 {
    display: inline-block;
    height: 97px;
    width: 248px;
    line-height: 98px;
    color: #8F5328;
    font-size: 30px;
    font-weight: bold;
}

.schedule .cup_box .cup_txt .cup3 {
    display: inline-block;
    width: 154px;
    height: 57px;
    line-height: 57px;
    vertical-align: bottom;
    margin-bottom: 5px;
    color: #5B5E83;
    font-size: 24px;
    font-weight: bold;
}

.schedule .flag_box {
    position: relative;
    width: 100%;
    height: 389px;
    background: url(../images/flag_bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.schedule .flag_box ul {
    position: absolute;
    top: 42px;
    left: 0;
    height: 382px;
    width: 100%;
}

.schedule .flag_box ul li {
    position: relative;
    height: 100%;
    float: left;
}

.schedule .flag_box ul li.flag1 {
    width: 24%;
}

.schedule .flag_box ul li.flag2 {
    width: 26%;
}

.schedule .flag_box ul li.flag3 {
    width: 26%;
}

.schedule .flag_box ul li.flag4 {
    width: 24%;
}

.schedule .flag_box li span {
    display: block;
    text-align: center;
}

.schedule .flag_box li span.area {
    color: #FCFCFC;
    font-size: 26px;
    font-weight: bold;
    margin-top: 24px;
}

.schedule .flag_box li span.match_date {
    font-size: 14px;
    color: #FBFBFB;
    margin-top: 148px;
}

.schedule .flag_box li span.num {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.schedule .card_box {
    width: 100%;
    height: 381px;
    background: url(../images/card_bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.event {}

.event .left {
    height: 652px;
    background: url(../images/event_bg01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.event .right {
    height: 652px;
    background: url(../images/event_bg03.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.event .content {
    position: relative;
    height: 652px;
    background: url(../images/event_bg02.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.event .content h3 {
    z-index: 1;
    position: absolute;
    left: 424px;
    top: -8px;
}

.event .content h3 i {
    width: 43px;
    height: 41px;
    background: url(../images/icon_event.png) 0 0 no-repeat;
    background: 100% 100%;
}




/*tab*/

.event .detail,
.event .tab_container {
    position: absolute;
    bottom: 0;
    width: 960px;
    height: 562px;
    left: 50%;
    margin-left: -479px;
    border: 2px solid #85B67C;
    border-top: 16px solid #4B9740;
}

.event .tab_nav {}

.event .tab_nav li {
    float: left;
    padding: 25px 0;
    width: 25%;
    border-bottom: 1px solid #D1D1D1;
    font-size: 24px;
    color: #4B9740;
}

.event .tab_nav li.active {
    border-bottom: 2px;
    color: #EA7513;
    border-bottom: 2px solid #EA7513;
    font-weight: bold;
}

.event .tab_nav li span {
    display: inline-block;
    height: 36px;
    line-height: 34px;
    width: 100%;
    text-align: center;
    border-right: 1px solid #D1D1D1;
}

.event .tab_nav li span.last_span {
    border: 0;
}

.event .tab_list {
    height: 472px;
    overflow-y: auto;
    overflow-x: hidden;
}

.event .tab_list li {
    display: none;
    overflow: hidden;
    padding-left: 35px;
    padding-right: 125px;
    padding-top: 1px;
}

.event .tab_list li.active {
    display: block;
}

.event .tab_list li span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 18px 0;
    border-bottom: 1px solid #E3E3E2;
    height: 24px;
    line-height: 24px;
}




/*detail*/

.event .detail {}

.detail .article {
    width: 960px;
    height: 562px;
    overflow: auto;
}

.detail .btn_return {
    position: absolute;
    /* margin-left: 25px;
    margin-top: 10px; */
    width: 91px;
    height: 33px;
    background: url(../images/btn_return.png) 0 0 no-repeat;
    background-size: 100% 100%;
    /* position: fixed; */
    left: 25px;
    top: 10px;
}

.detail h4 {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

.detail div.date {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #CFCFCF;
    color: #9C9B9B;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.detail p {
    text-indent: 2em;
    text-align: left;
    width: 850px;
    margin: 0 auto;
    line-height: 36px;
}




/*photo*/

.photo {}

.photo .left {
    height: 416px;
    background: url(../images/photo_bg01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.photo .right {
    height: 416px;
    background: url(../images/photo_bg03.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.photo .content {
    height: 356px;
    padding-top: 60px;
    background: url(../images/photo_bg02.jpg) 0 0 no-repeat;
    width: 1000px;
    overflow: hidden;
    background-size: 100% 100%;
}

#btns-arr {
    width: 100%;
    height: 20px;
    float: left;
    position: relative;
}

#btns-arr .small {
    width: 140px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin: 0 0 0 -50px;
}

#btns-arr .small ul {
    margin: 0;
    padding: 0px;
}

#btns-arr .small li {
    width: 16px;
    height: 16px;
    float: left;
    display: inline;
    margin: 3px 0 0 10px;
    padding: 0px;
    cursor: pointer;
    background: url(../images/icon_photo.png) 2px 2px no-repeat;
}

#btns-arr .small li.hove {
    background: url(../images/icon_photoOn.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

#part4-box {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

#part4-list {
    width: 100%;
    height: 446px;
    position: absolute;
    top: 0;
    left: 0;
}

#part4-list ul {
    margin: 0px;
    padding: 0px;
    float: left;
}

#part4-list li {
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    cursor: pointer;
}

#part4-list li img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

#part4-list li div {
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}

#part4-list li .b_tit {
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#part4-list li .opacity {
    width: 100%;
    height: 120px;
    background: #000;
    filter: alpha(opacity=80);
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
}



/*huoban*/

.huoban {}

.huoban .left {
    height: 361px;
    background: url(../images/huoban_bg01.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.huoban .right {
    height: 361px;
    background: url(../images/huoban_bg03.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.huoban .content {
    height: 281px;
    position: relative;
    background: url(../images/huoban_bg02.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    padding-top: 80px;
}

.huoban .content h3 {
    z-index: 1;
    position: absolute;
    left: 424px;
    top: -8px;
}

.huoban .content h3 i {
    width: 51px;
    height: 37px;
    background: url(../images/icon_hands.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.zhidao,
.zhuban {
    margin-left: 103px;
    height: 25px;
    line-height: 25px;
    border-left: 6px solid;
    padding-left: 22px;
    color: #4d983f;
    font-size: 24px;
}



/* .zhidao {
    margin-top: 80px;
} */

.zhidao span {
    display: inline-block;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    color: #696969;
    vertical-align: middle;
    padding: 0 20px;
    border-right: 1px solid;
}

.zhidao span.first_span {
    padding-left: 35px;
}

.zhidao span.last_span {
    border: 0;
}

.zhuban {
    margin-top: 44px;
}

.zhuban>div {}

.zhuban>div span {
    overflow: hidden;
    display: inline-block;
    width: 220px;
    height: 97px;
    text-align: center;
    background: white;
    color: #b0b0af;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 25px;
    margin-left: -28px;
    margin-right: 52px;
}

.zhuban>div span.zhuban3 {
    height: 90px;
    vertical-align: top;
}

.zhuban img {
    display: block;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 2px;
}

.zhuban .haixia {
    width: 153px;
    height: 59px;
}

.zhuban .mnw {
    width: 160px;
    height: 53px;
    margin-left: 27px;
}

.zhuban .xiaoyu {
    width: 177px;
    height: 34px;
    margin-top: 28px;
}

.sponsor{ border: 1px solid red; width: 19.2rem; height: 2.58rem; background:url("../images/sponsor_bg") no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%; }
