@charset "utf-8";

$font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif, "\5B8B\4F53" !default;
$line-height: 1.5;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font60: 60px;
$font48: 48px;
$font36: 36px;
$font20: 20px;
$yellow: #ba390c ;
$yellow1: #ffea34;
$green: #518416;
$blue: #3366cc;
$white1: #ffc1b3;
$red: red;
$red1: #660700;
$orange: #ffaa3b;
$orange1: #b94c02;
$white: #fff;
@mixin text-center { text-align:center; }
@mixin pull-left { float: left; }
@mixin pull-right { float: right; }
@mixin text-underline{ text-decoration:underline;}

body, div, a, span, img, ol, ul, li, input, p, a, h4, h3, select { padding: 0; margin: 0; }
*{ margin:0; padding:0}
body { font: 12px/1.5 $font-family; color:#fff; padding: 0; margin: 0;}
body, html{ overflow:hidden; border:0; border:none; }
img { vertical-align: top; border: 0 none; }
a{ cursor: pointer;color: #fff; text-decoration: none;}
a:hover,a:focus{  outline: none; }
i{ font-style: normal;}
ul, li { list-style: none; }
ol{ padding-left:25px;}
ol li{ list-style: decimal;}
em, i{ font-style:normal;}
.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}

.text-indent{text-indent: 2em;}
.Yahei{font-family: "Microsoft Yahei";}

/*public*/

.warp{overflow: hidden; width:900px; height:450px; background-color:#d54134; position:relative; }
.left{float:left; width:154px; height:450px; background:#1f2226;}
.right{position: relative; float:right; width:746px; height:450px; }

.navBox{position: relative; z-index: 8; }
.navBox a{display:block; margin-top:4px;  font-size: 18px; font-weight:600; line-height:61px; color: #812104; width:150px; height:61px;background:url(../images/nav_bg.gif) no-repeat 0 0; }

.navBox a span{display: inline-block; width:22px; height: 22px;margin-left: 12px; margin-right: 2px; vertical-align: middle;  }
.navBox a{font-size:16px;}
.navBox a.active, .navBox a:hover{background:url(../images/nav_bgOn.gif) no-repeat 0 0; color: #661e00; font-weight: bold; }

.navBox a .icon_{background:url(../images/icon_.png) no-repeat 50% 50%; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
