/* 我的红包 */
.box_history{position: absolute; top: 0.8rem; left: 50%; margin-left: -2.8rem;width: 7.85rem;height: 4.77rem;background: url(../images/newYear/history_bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.box_history .dia_header{width: 100%;height: 0.52rem;text-align: center;margin-top:-0.2rem;}
.box_history .dia_header img{width: 1.85rem;height: auto;}
.box_history .dia_body {position: relative; padding: 0.3rem 0.15rem 0 0.15rem; height: 4.06rem; border-top: none;color: #787878;font-size: 0.16rem;font-family: "Microsoft Yahei";}
.box_history .jaingpin_tb .btn_lingquSmall {display: inline-block;width: 1.15rem;height: 0.46rem;text-align: center;background: url(../images/newYear/btn_lingquSmall.png) no-repeat 0 0;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.box_history .jaingpin_tb {width:6.82rem;margin: 0 auto;line-height: 0.5rem;border-collapse: collapse;font-size: 0.16rem;border-top-left-radius: 4px;}
.box_history .jaingpin_tb th {background-color: #fdedd2;color: #b34602;font-size: 0.24rem;text-align: center;line-height: 0.5rem;}
.box_history .jaingpin_tb td {text-align: center;font-size: 0.24rem;color: #753309; background: #FCFAF4;}
.box_history .jaingpin_tb .tr td {background: #fbf6e7;}
.box_history .jaingpin_tb tr .red {color:#F0330F;}

.box_history .pages {position: absolute; bottom: 0.4rem; width: 7.52rem; left: .15rem; padding-top: 0.1rem;text-align: center;color: #c13e2a;}
.box_history .pages a {color: #444; margin: 0 0.1rem; font-size: 0.24rem;}
.box_history .pages a.active {color: #c13e2a;}
.box_history .pages span{font-size: 0.24rem; color: #c13e2a; margin: 0 0.2rem;}
