/* 规则 */
.box_rule{position: absolute; width: 619px; height: 387px; top: 35px; left: 50%; margin-left: -230px; background: url(../images/newYear/rule_bg.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.box_rule .dia_header img{width: 146px;height: auto; margin-top: -5px;}
.box_rule .dia_body {position: relative; padding: 10px 10px 0 10px;}
.box_rule .rule_detail{margin:0 auto; height: 330px; padding: 0 20px;font-size: 18px; color: #7F3205; line-height: 32px; overflow-x:hidden; overflow-y:auto; }

