@charset "utf-8";
body, div, a, span, img, ol, ul, li, input, p, a, h4, h3, select { padding: 0; margin: 0; }
*{ margin:0; padding:0; -webkit-tap-highlight-color: transparent;}
body { font-family: "Microsoft Yahei"; color:#fff;}
body, html{ overflow:hidden; border:0; border:none; }
html{overflow:hidden;}
img { vertical-align: middle; border: 0 none; }
a{ cursor: pointer;color: #fff; text-decoration: none;}
a:hover,a:focus{  outline: none; }
i{ font-style: normal;}
ul, li { list-style: none; }
ol{ padding-left:25px;}
ol li{ list-style: decimal;}
em, i{ font-style:normal;}
.text-center { text-align:center; }
.text-indent{text-indent: 2em;}
.pull-left { float: left; }
.pull-right { float: right; }
.relative { position: relative; }
.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.Yahei{font-family: "Microsoft Yahei";}
.text-yellow{ color:#ba390c ;}
.text-yellow1{color:#ffea34;}
.text-green{ color:#22ac38;}
.text-blue{ color:#3366cc;}
.text-white1{ color:#ffc1b3;}
.text-red{ color:#fec1c1;}
.text-red1{ color:#660700;}
.text-orange { color:#b94c02;font-weight: bold;}
.text-white{ color:#fff;}
.text-underline{ text-decoration:underline;}
.font16{ font-size:0.16rem;}
.font18{ font-size:0.18rem;}
.font24{ font-size:0.24rem;} 

.font60{ font-size:0.60rem;}
.font48{ font-size:0.48rem;} 
.font36{ font-size:0.36rem;}
.font20{ font-size:0.20rem;}
/*public*/ 

.warp{overflow: hidden; width:12.8rem; background-color:#d54134; position:relative; }
.left{ float:left; width:2.64rem; height:6.4rem; background:url(../images/chuiniu1/left_bg.jpg) center/cover no-repeat;}

.navBox{  position: relative; z-index: 8; padding-top:.03rem;}
.navBox a{ display:block; position:relative; margin-left: 0.05rem; font-size:0.32rem; font-weight:500; text-align: center; line-height:1.15rem; color: #476E65; width:2.54rem; height:1.26rem;background:url(../images/chuiniu1/nav_chuiniu.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a span{position: absolute; width:0.8rem; height: 0.81rem; top:0.03rem;left:0.01rem;}

.navBox a .icon_hot{background:url(../images/chuiniu1/icon_hot.png) no-repeat 0 0; background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a .icon_new{background:url(../images/chuiniu1/icon_new.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}
.navBox a.active{color: #D60808;background:url(../images/chuiniu1/nav_chuiniuOn.png) no-repeat 0 0;background-size: 100% 100%; -webkit-background-size: 100% 100%;}

.right{ float:right; width:10.16rem; height:6.4rem; position: relative;}
.right{width:10.16rem;height: 6.4rem;background: url(../images/chuiniu1/right_bg.jpg) center/cover no-repeat;}
.rightMain{margin-left: .02rem;padding: .08rem; width: 9.94rem; height: 6.2rem; background: #E7E4DB; border-radius: .12rem;-webkit-border-radius: .12rem; }
.rightMain img{width: 9.94rem; height:6.20rem;}


